<section class="bg-about" id="about">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 mx-auto text-center">
         <h2 class="section-heading text-white">12 Cobb Street, E1 7LB</h2>
         <hr class="light my-4">
         <p class="text-faded mb-4">City Nails is located just a 3 minutes walk from Liverpool Street Station. 
         
         We offer nail and beauty treatments and we only use top products like Shellac, OPI, DND.

         
         </p>

         </div>
      </div>
   </div>
</section>