<section id="contact">
<div class="container">
   <div class="row">
      <div class="col-lg-8 mx-auto text-center">
      <h2 class="section-heading">Contact Us</h2>
      <hr class="my-4">
      <p class="mb-5">If you'd like to make an appointment, send us a message,telephone or feel free to come in and see us in person.</p>
      </div>
   </div>

   <div class="row">
      <div class="col-lg-8 mx-auto text-center">
      
         <form>

            <div class="md-form">
                  <input type="text" id="form3" class="form-control">
                  <label for="form3">Your name</label>
            </div>

            <div class="md-form">
                  <input type="text" id="form2" class="form-control">
                  <label for="form2">Your email</label>
            </div>

            <div class="md-form">
                  <textarea type="text" id="form8" class="md-textarea" style="height: 100px"></textarea>
                  <label for="form8">Your message</label>
            </div>

            <div class="text-center">
                  <button class="btn btn-unique">Send <i class="fa fa-paper-plane-o ml-1"></i></button>
            </div>
         </form>

      </div>

   </div>
   



</div>
</section>