<div class="container copyright">
   <div class="row">
      <div class="col-12">
         <p class="text-center"><span class="copyright__span">Website created by:</span> <a href="mailto:nm.duong@outlook.com">Nam Nguyen</a></p>
      </div>
   </div>
</div>