<footer id="footer">
	<div class="container">
		<div class="row">

			<div class="col-12 text-center contactList">

				<p class="footerClock"><span><i class="fa fa-clock-o fa-lg sr-contact" aria-hidden="true"></i></span><strong>Opening Hours:</strong> Monday - Saturday: 10.00am - 7.00pm</p>

				<p class="footerPhone"><span><i class="fa fa-phone fa-lg sr-contact" aria-hidden="true"></i></span><strong>Phone:</strong> <a href="tel:020 3759 9613">020 3759 9613</a></p>

				<p class="footerEmail"><span><i class="fa fa-envelope-o fa-lg sr-contact" aria-hidden="true"></i></span><strong>Email:</strong> <a href="mailto:citynails@email.com">citynails@email.com</a></p>

				<p class="footerAddress"><i class="fa fa-map-marker fa-lg sr-contact" aria-hidden="true"></i><strong>Address:</strong> City Nails Ltd, 12 Cobb Street, E1 7LB, London</p>

				<a href="https://www.facebook.com/allseasondesignernails/" target="_blank"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
				<a href="https://www.instagram.com/citynails12/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
</footer>
