<div class="container-fluid preheader">
   <div class="row">
      <div class="preheader__content col-lg-12">
         <p class="preheader__address text-center">
            020 3759 9613 - 12 Cobb Street - London
         </p>
      </div>
   </div>
</div>