<!-- PRICE LIST -->

<div class="container priceList" id="pricing">
      <div class="row priceList-inner">
        
        <div class="col-md-6">

          <!-- NAILS -->

          <table class="table table-title">
            <tr>
              <td>Nails</td>
            </tr>
          </table>

          <table class="table table-hover">
            <tbody>
              <tr>
                <td>Manicure</td>
                <td>£22 <span class="service-time">(20-30 mins)</span></td>
              </tr>
              <tr>
                <td>Shaped &amp; Revarnished</td>
                <td>£15 <span class="service-time">(15 mins)</span></td>
              </tr>
              <tr>
                <td>Manicure &amp; Shellac</td>
                <td>£38 <span class="service-time">(30-40 mins)</span></td>
              </tr>
              <tr>
                <td>Shaped &amp; Shellac</td>
                <td>£28 <span class="service-time">(20 mins)</span></td>
              </tr>
              <tr>
                <td>Gel Colour Removal &amp; Redo</td>
                <td>additional £5</td>
              </tr>
              <tr>
                <td>Gel Removal, Shaped &amp; Treatment</td>
                <td>£15</td>
              </tr>
              <tr>
                <td>Polish</td>
                <td>Additional £8</td>
              </tr>
            </tbody>
          </table>
          
        </div>


        <div class="col-md-6">

          <!-- NAIL DESIGN & OTHER -->

          <table class="table table-title">
            <tr>
              <td>Nail Design &amp; Other Services</td>
            </tr>
          </table>

          <table class="table table-hover">
            <tbody>
              <tr>
                <td>French or American polish</td>
                <td>Additional £4</td>
              </tr>
              <tr>
                <td>Nail Art</td>
                <td>from £10</td>
              </tr>
              <tr>
                <td>Gem Stones x 10</td>
                <td>£5</td>
              </tr>
              <tr>
                <td>Nail Shaped &amp; Revarnish</td>
                <td>£15</td>
              </tr>
              <tr>
                <td>Feet Shaped &amp; Revarnish</td>
                <td>£18</td>
              </tr>
              <tr>
                <td>Soak Off Acrylic Nails</td>
                <td>£18 <span class="service-time">(15 mins)</span></td>
              </tr>
              <tr>
                <td>Soak Off (Gel or Acrylic) &amp; Manicure</td>
                <td>£28 <span class="service-time">(30 mins)</span></td>
              </tr>
              <tr>
                <td>Single Nail</td>
                <td>from £5</td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
    </div>


    <div class="container spacer"></div> <!-- SPACER -->


    <div class="container priceList">
      <div class="row priceList-inner">

        
        <div class="col-md-6">

          <!-- SPA PEDICURE -->

          <table class="table table-title">
            <tr>
              <td>Spa Pedicure</td>
            </tr>
          </table>

          <table class="table table-hover">
            <tbody>
              <tr>
                <td>Spa Pedicure</td>
                <td>£33 <span class="service-time">(40 mins)</span></td>
              </tr>
              <tr>
                <td>Spa Pedicure with Shellac</td>
                <td>£46 <span class="service-time">(45 mins)</span></td>
              </tr>
              <tr>
                <td>Manicure &amp; Pedicure</td>
                <td>£48 <span class="service-time">(50-60 mins)</span></td>
              </tr>
              <tr>
                <td>Manicure &amp; Pedicure with Shellac on both</td>
                <td>£78 <span class="service-time">(60 mins)</span></td>
              </tr>
              <tr>
                <td>Manicure Shellac &amp; Spa Pedicure</td>
                <td>£64 <span class="service-time">(60 mins)</span></td>
              </tr>
              <tr>
                <td>Manicure &amp; Spa Pedicure Shellac</td>
                <td>£64 <span class="service-time">(60 mins)</span></td>
              </tr>
              <tr>
                <td>Extra Foot Massage</td>
                <td>£1 /min</span></td>
              </tr>
            </tbody>
          </table>
          
        </div>


        <div class="col-md-6">

          <!-- THREADING -->

          <table class="table table-title">
            <tr>
              <td>Threading</td>
            </tr>
          </table>

          <table class="table table-hover">
            <tbody>
              <tr>
                <td>Eyebrows</td>
                <td>£15 <span class="service-time">(10-15 mins)</span></td>
              </tr>
              <tr>
                <td>Forehead</td>
                <td>£12 <span class="service-time">(10mins)</span></td>
              </tr>
              <tr>
                <td>Upper Lip or Chin</td>
                <td>£10 <span class="service-time">(10-15 mins)</span></td>
              </tr>
              <tr>
                <td>Side of Face</td>
                <td>£15 <span class="service-time">(10 mins)</span></td>
              </tr>
              <tr>
                <td>Full Face</td>
                <td>£35 <span class="service-time">(30 mins)</span></td>
              </tr>
              <tr>
                <td>Eyebrow Waxing</td>
                <td>£12 <span class="service-time">(10 mins)</span></td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
    </div>


    <div class="container spacer"></div> <!-- SPACER -->


    <div class="container priceList">
      <div class="row priceList-inner">
        
        <div class="col-md-6">

          <!-- ACRYLIC / POWDER GEL -->

          <table class="table table-title">
            <tr>
              <td>Acrylic / Powder Gel</td>
            </tr>
          </table>

          <table class="table table-hover">
            <tbody>
              <tr>
                <td>Fullset Permanent White tips/Overlay</td>
                <td>£36 <span class="service-time">(40 mins)</span></td>
              </tr>
              <tr>
                <td>Infills</td>
                <td>£26 <span class="service-time">(30 mins)</span></td>
              </tr>
              <tr>
                <td>Fullset Ombre</td>
                <td>£50 <span class="service-time">(45 mins)</span></td>
              </tr>
              <tr>
                <td>Fullset Ombre 3 Colours</td>
                <td>£60 <span class="service-time">(45 mins)</span></td>
              </tr>
              <tr>
                <td>Infills Ombre</td>
                <td>From £32-£55 <span class="service-time">(20 - 35 mins)</span></td>
              </tr>
              <tr>
                <td>Soak off &amp; Redo </td>
                <td>Additional £10</td>
              </tr>
              <tr>
                <td>Shellac on top Acrylic</td>
                <td>Additional £12</td>
              </tr>
              <tr>
                <td>Extra Long Nails</td>
                <td>Additional £5</td>
              </tr>
            </tbody>
          </table>
          
        </div>


        <div class="col-md-6">

      <!-- PINK & WHITE/GLITTER TIPS -->

      <table class="table table-title">
        <tr>
          <td>Pink &amp; White/Glitter Tips</td>
        </tr>
      </table>

      <table class="table table-hover">
        <tbody>
          <tr>
            <td>Fullset/Overlay</td>
            <td>£48 <span class="service-time">(50-60 mins)</span></td>
          </tr>
          <tr>
            <td>Pink &amp; White lnfills</td>
            <td>£38 <span class="service-time">(50-60 mins)</span></td>
          </tr>
          <tr>
            <td>Pink Infills</td>
            <td>£26 <span class="service-time">(30mins)</span></td>
          </tr>
          <tr>
            <td>Soak off &amp; Redo</td>
            <td>Additional £10</td>
          </tr>
        </tbody>
      </table>

          
        </div>
        
      </div>
    </div>


    <div class="container spacer"></div> <!-- SPACER -->


    <div class="container priceList">
      <div class="row priceList-inner">
        
        <div class="col-md-6">

          <!-- EYELASH EXTENSION -->

          <table class="table table-title">
            <tr>
              <td>Eyelash Extension</td>
            </tr>
          </table>

          <table class="table table-hover">
            <tbody>
              
              <tr>
                <td>Fullset Individual Lashes</td>
                <td>£75 <span class="service-time">(60mins)</span></td>
              </tr>
              <tr>
                <td>Refills</td>
                <td>Fom £45 <span class="service-time">(20-30mins)</span></td>
              </tr>
              <tr>
                <td>&frac12; Set</td>
                <td>£47 <span class="service-time">(30mins)</span></td>
              </tr>
              <tr>
                <td>&frac34; Set</td>
                <td>£60 <span class="service-time">(40mins)</span></td>
              </tr>

            </tbody>
          </table>
          
        </div>


        <div class="col-md-6">

          <!-- 3D RUSSIAN EXTENSION -->

          <table class="table table-title">
            <tr>
              <td>3D Russian Lashes</td>
            </tr>
          </table>

          <table class="table table-hover">
            <tbody>
              <tr>
                <td>Fullset Lashes</td>
                <td>£90 <span class="service-time">(60mins)</span></td>
              </tr>
              <tr>
                <td>Refills</td>
                <td>From £45 <span class="service-time">(20-30mins)</span></td>
              </tr>
              <tr>
                <td>&frac12; Set</td>
                <td>£57 <span class="service-time">(30mins)</span></td>
              </tr>
              <tr>
                <td>&frac34; Set</td>
                <td>£70 <span class="service-time">(40mins)</span></td>
              </tr>
            </tbody>
          </table>

        </div>
        
      </div>
    </div>