<section class="p-0" id="services-gallery">
<div class="container-fluid p-0">
   <div class="row no-gutters"> 

	<div class="col-lg-4 col-sm-6">
		<div class="services-gallery-box">
		<img class="img-fluid" src="images/services-manicure2.jpg" alt="">
			<div class="services-gallery-box-caption">
				<div class="services-gallery-box-caption-content">
					<div class="service-name">
					Manicure
					</div>
					<div class="service-description">
					Nails and cuticles are expertly shaped and then buffed for a clean finish.
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-sm-6">
		<div class="services-gallery-box">
			<img class="img-fluid" src="images/services-pedicure.jpg" alt="">
			<div class="services-gallery-box-caption">
				<div class="services-gallery-box-caption-content">
					<div class="service-name">
					Spa Pedicure      
					</div>
					<div class="service-description">
					Treatment that removes dead skin, softens hard skin and shapes and treats your toenails.
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-sm-6">
		<div class="services-gallery-box">
		<img class="img-fluid" src="images/services-shellac.jpg" alt="">
		<div class="services-gallery-box-caption">
			<div class="services-gallery-box-caption-content">
				<div class="service-name">
				Shellac
				</div>
				<div class="service-description">
				Nails are treated to chip-resistanct Shellac polish designed to last up to two weeks or more.
				</div>
			</div>
		</div>
		</div>
	</div>

	<div class="col-lg-4 col-sm-6">
		<div class="services-gallery-box">
		<img class="img-fluid" src="images/services-threading.jpg" alt="">
			<div class="services-gallery-box-caption">
				<div class="services-gallery-box-caption-content">
					<div class="service-name">
					Threading
					</div>
					<div class="service-description">
					Perfectly scuplt and shape your eyebrows, leaving a clean finish.
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-4 col-sm-6">
		<div class="services-gallery-box">
			<img class="img-fluid" src="images/services-waxing.jpg" alt="">
			<div class="services-gallery-box-caption">
				<div class="services-gallery-box-caption-content">
					<div class="service-name">
					Facial Waxing     
					</div>
					<div class="service-description">
					Guaranteed much longer-lasting smooth skin, leaving your face smooth and free of hair for weeks.
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-4 col-sm-6">
		<div class="services-gallery-box">
		<img class="img-fluid" src="images/services-extensions.jpg" alt="">
		<div class="services-gallery-box-caption">
			<div class="services-gallery-box-caption-content">
				<div class="service-name">
				Latest 3D Eyelash Extension
				</div>
				<div class="service-description">
				Gives a full, high impact glamorous look with maximum natural looking volume.
				</div>
			</div>
		</div>
		</div>
	</div>

   </div> <!-- ROW ENDS -->
</div>
</section>