<!DOCTYPE html>
<html>
	<% include ../views/partials/head %>
<body>
	<!-- PREHEADER -->
	<% include ../views/partials/preheader %>
	<% include ../views/partials/nav %>


	<form id="contact-form">
		<label for="name">NAME</label>
		<input id="name-field" type="text" name="name" value="">

		<label for="email">EMAIL</label>
		<input id="email-field" type="email" name="email" value="" required>

		<label for="message">MESSAGE</label>
		<textarea id="message-field" name="message" rows="" cols=""></textarea>

		<input id="submit" type="submit" value="SUBMIT"/>
	</form>

	<% include ../views/partials/scripts %>
</body>
</html>


