<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <form id="contact-form">
      <label for="name">NAME</label>
      <input id="name-field" type="text" name="name" value="">

      <label for="email">EMAIL</label>
      <input id="email-field" type="email" name="email" value="" required>

      <label for="message">MESSAGE</label>
      <textarea id="message-field" name="message" rows="" cols=""></textarea>

      <input id="submit" type="submit" value="SUBMIT"/>

    </form>

  <script src="/javascripts/main.js"></script>
  </body>
</html>
