<!DOCTYPE html>
<html>
  <% include ../views/scripts/head %>
  
  <body id="page-top">
	<% include ../views/partials/nav %>

	<% include ../views/partials/hero %>

	<% include ../views/partials/about %>

	<% include ../views/partials/services %>

	<% include ../views/partials/services-gallery %>

	<% include ../views/partials/contact %>


	<% include ../views/scripts/js %>
</body>
</html>
