<!DOCTYPE html>
<html lang="en">
  <% include ../views/scripts/head %>
  
  <body id="page-top">
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PGSZ54V"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	
	<% include ../views/partials/nav %>

	<% include ../views/partials/hero %>

	<% include ../views/partials/about %>

	<% include ../views/partials/services %>

	<% include ../views/partials/services-gallery %>

	<!-- <% include ../views/partials/contact %> -->

	<% include ../views/partials/footer %>

	<% include ../views/partials/map %>

	<% include ../views/partials/copyright %>

	<% include ../views/scripts/js %>
</body>
</html>
