<!DOCTYPE html>
<html>
	<% include ../views/partials/head %>
<body>
	<h1><%= title %></h1>
	<p>Welcome to <%= title %></p>
	
	<!-- PREHEADER -->
	<% include ../views/partials/preheader %>
	<% include ../views/partials/nav %>





	<% include ../views/partials/scripts %>
</body>
</html>
