<!DOCTYPE html>
<html lang="en">
  <% include ../views/scripts/head %>
  
  <body id="page-top">
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PGSZ54V"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
		
	<div class="container">

		<a class="navbar-brand js-scroll-trigger" href="#page-top">City Nails</a>
		
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link js-scroll-trigger" href="/">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link js-scroll-trigger" href="#contact">Bookings</a>
			</li>
			</ul>
		</div>
		
	</div>
	</nav>

	<header class="hero hero__pricing text-center text-white d-flex">
		<div class="container my-auto">
		<div class="row">
			<div class="col-lg-10 mx-auto">
				<h1 class="text-uppercase">
				<strong>City Nails Price List</strong>
				</h1>
				<hr>
			</div>
			<div class="col-lg-8 mx-auto">
				<p class="mb-5">10% off all bookings!</p>
				<a class="btn btn-primary btn-xl js-scroll-trigger" href="#offer">Offer Details</a>
			</div>
		</div>
		</div>
	</header>


	<% include ../views/partials/pricing %>


	<section class="bg-offer text-white" id="offer">
		<div class="container text-center">
			<h2 class="mb-4">10% off all bookings!</h2>
			<hp class="mb-4">Offer available from Monday 31st April - Friday 4th May 2018. Just quote offer code "CN11" at the time of booking.</hp>
		</div>
	</section>

	<% include ../views/partials/contact %>

	<% include ../views/partials/footer %>

	<% include ../views/partials/map %>

	<% include ../views/partials/copyright %>

	<% include ../views/scripts/js %>
</body>
</html>