
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="/javascripts/mdb.js"></script>
<script src="/javascripts/main.js" type="module"></script>
<script>
   function initMap() {
      const location = new google.maps.LatLng(51.5166398, -0.0777387)
      const mapCanvas = document.getElementById('map')
      const mapOptions = { center: location, zoom: 18, panControl: false, scrollwheel: false }
      const map = new google.maps.Map(mapCanvas, mapOptions)
      const marker = new google.maps.Marker({ position: location, map: map,icon: '../images/marker.png' })
      
      const contentString = `
         <div class="info-window">
         <h3 class="map-title text-center">City Nails</h3>
            <div class="info-content">
               <p class="text-center">12 Cobb Street E1, London</p>
               <p class="text-center">Tel: 0203 759 9613 </p>
            </div>
         </div>
      `
      const infowindow = new google.maps.InfoWindow({ content: contentString, maxWidth: 400 });
      marker.addListener('click', () => infowindow.open(map, marker))
   }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiqw0ihWSt0VTcqozM7EUcv2p01kfRUDA&callback=initMap" async defer></script>
