.preheader {

   &__content {
      background-color: $black-light-1;
   }

   &__address {
      color: $white;
      font-weight: 300;
      margin: .5rem 0;
      font-size: .9rem;
      letter-spacing: 0.2rem;
   }
}