footer {
   padding-bottom: 4rem;
   padding-top: 4rem;
   color: inherit;
}

i {
   padding: 0 .5rem;
   color: $primary;
}

.fa-facebook-official {
   margin-top: 10px;
}

a .fa-facebook-official {
   color: #3B5998;
}

a .fa-instagram {
   background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
   background-clip: text;
   -webkit-background-clip: text;
	color: transparent;
}

#form-message {
   color: inherit;
   font-size: inherit;
}

.copyright {
   padding-top: 0.8rem;
   font-size: 0.7rem;
   color: #a7a7a7;

   span {
      opacity: 0.5;
   }
}